<div class="row" style="padding-bottom:10px; padding-top:20px;">
    <center><input type="text" size="60" name="input" ng-model="url"> <button type="button" class='btn btn-default' ng-click="loadUrl()">Load URL</button></center>
</div>
<div class="row" style="padding-bottom:10px; padding-top:20px;">
    <center>
    <select name="repeatSelect" id="repeatSelect" ng-model="datastore">
        <option ng-repeat="option in datastores" value="{{option.name}}">{{option.name}}</option>
    </select>
    <input type="text" size="60" name="input" ng-model="query" ng-change="queryChanged()"></center>
</div>
<div class="row">
    <div class="well well-sm"> Num Hits : {{data.numhits}}   Time Taken : {{data.took}} </div>
</div>

<div class="row">
    <div class="col-md-3">
    <div class="panel panel-success">
          <div class="panel-heading">Facets</div>
          <div class="panel-body">
              <div ng-repeat="(k, v) in data.facets">
                  <h5>{{k}}</h5>
                <div ng-repeat="kk in notSorted(v)" ng-init="vv = v[kk]">
                    {{kk}} : {{v[kk]}}
                </div>
                <br>
              </div>
          </div>
    </div>
    </div>
    <div class="col-md-8">
        <div ng-repeat="hit in data.hits">
         <pre>
{{hit | prettyJSON}}
         </pre>
        </div>
    </div>
</div>
